html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
  }
  
  scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
  }
  
  canvas {
  width: 100%;
  height: 100%;
  }
  
  speech {
  position: absolute;
  display: block;
  background-image: url("./Board/BlackFadeRight.png");
  background-size: cover;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 15%;
  color: rgb(255, 255, 255);
  }
  
  speech.warden name {
  color: rgb(94, 94, 94);
  }

 /* Decisions{

  }
